<br />
<div class="container">
    <form role="form" class="well form-horizontal" data-toggle="validator" id="Add_Support_Company_Form">
        <fieldset>
            <!-- Form Name -->
            <legend>Add Support Company</legend>

            <!-- Text input-->
            <div class="form-group has-feedback">
                <label for="Support_Name" class="col-md-4 control-label">Company name:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" id="Support_Name" name="Support_Name" placeholder="Company Name" class="form-control" data-minlength="3" required data-error="Minimum character length is 3 characters">
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*</label>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label for="Support_Address_1" class="col-md-4 control-label">First Line Address:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="Support_Address_1" placeholder="1 Road Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Second Line Address:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="Support_Address_2" placeholder="Town/City" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Post Code:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="Support_Post_Code" placeholder="Post Code" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Tel:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="Support_Tel" placeholder="00441234355188" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group has-feedback">
                <label for="Support_Email" class="col-md-4 control-label">E-Mail:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" name="Support_Email" class="form-control" id="Support_Email" placeholder="EMail@Address.com" data-error="Invalid Email address">
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*</label>
           </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Website:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <input name="Support_Website" placeholder="Website or domain name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- radio checks -->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">Support Contract:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="radio">
                        <label>
                            <input type="radio" name="Support_Contract" value="1" required /> Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="Support_Contract" value="0" required/> No
                        </label>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*</label>
            </div>

            <!-- Text area -->
            <div class="form-group has-feedback">
                <label class="col-md-4 control-label">Company Notes:</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea type="text" id="Support_Comment" name="Support_Comment" placeholder="Project Description" class="form-control" data-minlength="10" required data-error="Description required"></textarea>
                    </div>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <label class="help-block with-errors">*</label>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="Support_Success_Message">Added Support Company <i class="glyphicon glyphicon-thumbs-up"></i></div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Add Support Company <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div><!-- /.container -->