@model System.Data.DataTable
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Service Catalogue";
}
@Styles.Render("~/css/formCSS")
@Scripts.Render("~/bundles/formJS")
<br />
<div class="container">
        <div class="text-left">
            <h2>
                Service Catalogue
            </h2>
        </div>
</div><!-- /.container -->

@{ Html.RenderAction("EnvironmentListTable", "ServiceCatalogue");}
