@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Business Section-->
<section id="business" class="business bg-grey roomy-70">
    <div class="container">
        <div class="row">
            <div class="main_business">
                <div class="col-md-6">
                    <div class="business_slid">
                        <div class="slid_shap bg-grey"></div>
                        <div class="business_items text-center">
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                            <div class="business_item">
                                <div class="business_img">
                                    <img src="~/images/about-img1.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="business_item sm-m-top-50">
                        <h2 class="text-uppercase"><strong>Made</strong> is Template For Business</h2>
                        <ul>
                            <li><i class="fa fa-arrow-circle-right"></i> Clean & Modern Design</li>
                            <li><i class="fa  fa-arrow-circle-right"></i> Fully Responsive</li>
                            <li><i class="fa  fa-arrow-circle-right"></i> Google Fonts</li>
                        </ul>
                        <p class="m-top-20">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi
                            sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit
                            lacus quis erat malesuada lobortis eiam dui magna volutpat commodo eget pretium vitae
                            elit etiam luctus risus urna in malesuada ante convallis.
                        </p>
                        <div class="business_btn">
                            <a href="https://bootstrapthemes.co" class="btn btn-default m-top-20">Read More</a>
                            <a href="" class="btn btn-primary m-top-20">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Business section -->