<!-- Select Basic -->
<div class="form-group">
    <label class="col-md-4 control-label">Operating system</label>
    <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="state" class="form-control selectpicker">
                <option value=" ">Please select</option>
                <option>Windows 2003</option>
                <option>Windows 2008</option>
                <option>Windows 2012</option>
                <option>Windows 7 (For shadow PCs / lifeboats)</option>
            </select>
        </div>
    </div>
</div>
