<!-- Text area -->
<div class="form-group">
    <label class="col-md-4 control-label">Project Description</label>
    <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
        </div>
    </div>
</div>


