@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Features Section-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Best Quality Design</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-tablet"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Responsive Design</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_item sm-m-top-30">
                        <div class="f_item_icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="f_item_text">
                            <h3>Easy to Customize</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend
                                in sit amet mattis volutpat rhoncus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Features Section-->