@model ProjectOffice.Models.Forms.ServiceCatalogue.Environment.EnvironmentModel
@{
    var environmentDetails = ViewBag.environmentDetails;
    @:<div id="environmentDetails_@ViewBag.ID">
        <div class="features_item sm-m-top-30 m-bottom-30 m-l-15">
            <div class="f_item_text">
                <h2>@environmentDetails.Rows[0]["Environment_Name"] @environmentDetails.Rows[0]["Environment_Type_Name"] Environment Details</h2>
                <div class="col-md-4">
                    <b>Notes:</b>  @environmentDetails.Rows[0]["Environment_Comment"]  <br>
                </div>
            </div>
        </div>

    if (environmentDetails.Rows.Count > 0)
    {
        bool Server_Check = false;
        bool Application_Check = false;

        @:<div class="panel-group" id="Environment_Item_List" role="tablist" aria-multiselectable="false">

        foreach (var row in environmentDetails.Rows)
        {
            if (row["Item_Type_ID"] == 2)
            {
                @:<div id="Environment_Item_Container_@row["EI_ID"]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Environment_Item_Button_@row["EI_ID"]">
                    @:<div class="panel-body">
                        Html.RenderAction("Server_Details", "Server", new { Server_Check = Server_Check, row = row, Environment_Details = environmentDetails });
                    @:</div>
                @:</div>

                Server_Check = true;
                Application_Check = false;
            }
            else if (row["Item_Type_ID"] == 1 && row["Parent_ID"] == row["Environment_ID"])
            {
                @:<div id="Environment_Item_Container_@row["EI_ID"]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Environment_Item_Button_@row["EI_ID"]">
                    @:<div class="panel-body">
                        Html.RenderAction("Application_Details", "Application", new {Application_Check = Application_Check, row = row, Environment_ID = ViewBag.ID,  });
                    @:</div>
                @:</div>

                Application_Check = true;
            }
        }
    }
    else
    {
        @:There are no servers or applications for this environment.
    }

    @:</div><br />
    <div class="panel-group" id="NewEntry_@ViewBag.ID" role="tablist" aria-multiselectable="false">
        <ul class="nav nav-tabs">
            <li role="presentation"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry_@ViewBag.ID" href="#Add_ServerContainer_@ViewBag.ID" aria-expanded="false" aria-controls="Add_ServerContainer_@ViewBag.ID">Add Server</a></li>
            <li role="presentation"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#NewEntry_@ViewBag.ID" href="#Add_ApplicationContainer_@ViewBag.ID" aria-expanded="false" aria-controls="Add_ApplicationContainer_@ViewBag.ID">Add Application</a></li>
        </ul>

        <div class="panel panel-default well form-horizontal">
            <div id="Add_ServerContainer_@ViewBag.ID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Add_ServerButton_@ViewBag.ID">
                <div class="panel-body">
                    @{ Html.RenderAction("Add_Server", "Server", new { Environment_ID = ViewBag.ID });}
                </div>
            </div>

            <div id="Add_ApplicationContainer_@ViewBag.ID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Add_ApplicationButton_@ViewBag.ID">
                <div class="panel-body">
                    @{ Html.RenderAction("Add_Application", "Application", new { Environment_ID = ViewBag.ID });}
                </div>
            </div>
        </div>
    </div>
}
