<!--Brand Section-->
<section id="brand" class="brand fix roomy-80">
    <div class="container">
        <div class="row">
            <div class="main_brand text-center">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img1.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img2.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img3.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img4.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img5.png" alt="" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="brand_item sm-m-top-20">
                        <img src="~/images/cbrand-img6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End off Brand section -->