@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>

Choose from the following forms:
<a href="createForm">Create Form</a>
<a href="ApplicationsList">@{ Html.RenderAction("ApplicationListIntro", "ApplicationsList");}</a>